.alert {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  border-radius: var(--border-radius-lg);
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  animation: slideRight 300ms ease-in-out;
}

.alert div svg {
  width: 1.5rem;
  height: auto;
}

.alert-info {
  background-color: var(--cyan-bg-subtle);
  color: var(--cyan-text-emphasis);
}

.alert-info div svg {
  color: var(--info-color);
}

.alert-success {
  background-color: var(--green-bg-subtle);
  color: var(--green-text-emphasis);
}

.alert-success svg {
  color: var(--success-color) !important;
}

.alert-warning {
  background-color: var(--yellow-bg-subtle);
  color: var(--yellow-text-emphasis);
}

.alert-warning svg {
  color: var(--warning-color) !important;
}

.alert-danger {
  background-color: var(--red-bg-subtle);
  color: var(--red-text-emphasis);
}

.alert-danger svg {
  color: var(--danger-color) !important;
}
