.form-group {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.input-group {
  flex-direction: column;
}

.input-group,
.input-date-group {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1.25rem;
  width: 100%;
}

.form-label {
  display: inline-block;
}

.form-input-date,
.form-input {
  display: block;
  align-items: start;
  width: 100%;
  justify-content: start;
  background-color: var(--secondary-bg);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--body-color);
}

[data-theme="dark"] .form-input-date,
[data-theme="dark"] .form-input {
  background-color: var(--tertiary-bg);
}

.form-input-date {
  display: flex;
  appearance: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.form-input-date::-webkit-calendar-picker-indicator {
  display: none;
}

.form-input-date::after {
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  right: 1rem;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23262626"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008H12v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" /></svg>');
}

[data-theme="dark"] .form-input-date::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23f5f5f5"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008H12v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" /></svg>');
}

.form-input-date:focus,
.form-input:focus {
  outline: 1px solid var(--focus-ring-color);
  border-color: var(--focus-ring-color);
}

.form-invalid {
  display: flex;
  gap: 0.25rem;
  color: var(--form-invalid-color);
  font-size: 0.75rem;
  margin-top: 0.25rem;
  justify-content: start;
  align-items: center;
}

.form-invalid svg {
  width: 1.25rem;
  height: auto;
}

.form-input-invalid {
  border-color: var(--form-invalid-color) !important;
}

.form-input-invalid:focus {
  outline: 1px solid var(--form-invalid-color) !important;
}
