.radio-label-simple {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
  width: 100%;
  gap: 1rem;
  padding: 1.25rem;
  background-color: var(--secondary-bg);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-lg);
  transition: all 300ms ease-in-out;
  color: var(--secondary-color);
  cursor: pointer;
}

.radio-label-simple:has(.radio-input-simple:checked) {
  border-color: var(--body-color);
  color: var(--body-color);
}

.radio-label-simple:has(.radio-input-simple:disabled) {
  opacity: 0.5;
  cursor: not-allowed;
  display: none;
}

.radio-input-simple {
  position: relative;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-pill);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.radio-input-simple::after {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: var(--body-color);
  opacity: 0;
  border-radius: var(--border-radius-pill);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}

.radio-input-simple:checked {
  border-color: var(--body-color);
}

.radio-input-simple:checked::after {
  opacity: 1;
}

