.space-between {
  justify-content: space-between;
}
.space-1 {
  gap: 0.25rem;
}
.space-2 {
  gap: 0.5rem;
}

.space-3 {
  gap: 0.75rem;
}

.space-4 {
  gap: 1rem;
}

.space-5 {
  gap: 1.25rem;
}

.space-8 {
  gap: 2rem;
}

.space-10 {
  gap: 2.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-8 {
  padding: 2rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}
